* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.header {
  padding-top: 40px;
  margin-bottom: 24px;
}

/* Header decorate  */

.logo {
  display: inline-block;
  color: #555252;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.text::first-letter {
  color: #1abc9c;

  font-weight: 700;
  font-size: 30px;
}

.site-nav {
  float: right;
  width: 460px;
  margin-top: 6px;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 700;
}

.site-nav li {
  float: left;
}

.link {
  padding-left: 4px;
  padding-right: 24px;
  padding-bottom: 8px;
  color: #0f0101;
}
.site-nav li:last-child .link {
  padding-right: 0px;
}

.site-nav a:hover {
  color: #1abc9c;
}

/* slider decorate */

.containerForSlider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.slider {
  position: relative;
}
.slider::after {
  content: "";
  display: table;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 2, 0.5);
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
}
.tours p {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.tours {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-wrapper {
  position: absolute;
  width: 1110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__btn {
  width: 104px;
  height: 104px;
  background-color: rgba(78, 198, 171, 0.65);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.prev {
  float: left;
  background-image: url(../img/icon/PrevArrow.png);
}
.next {
  float: right;
  background-image: url(../img/icon/NextArrow.png);
}

.prev:hover {
  background-color: rgb(26, 188, 156);
}

.next:hover {
  background-color: rgb(26, 188, 156);
}

/* collection decorate */

.collection-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #e9f0fd;
  padding-bottom: 100px;
}

.collection {
  width: 1110px;
  margin: 0 auto;
}
.collection__head {
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 104px;
  letter-spacing: -0.96px;
}

.collection__head::after {
  content: "";
  display: block;
  margin: 0 auto;
  background-color: #1abc9c;
  width: 164px;
  height: 8px;
  margin-top: 34px;
}

.product__item {
  width: 255px;
  float: left;
}

.product_img_wripper {
  position: relative;
}

.product__item:not(:last-child) {
  margin-right: 30px;
}

.product__item p {
  float: right;
  margin: 0px;
  padding: 5px 0px;
  background-color: #8c8c8c;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-align: center;
  width: 55px;
  height: 40px;
}

.product__item h3 {
  float: left;
  height: 40px;
  width: 200px;
  padding: 5px 0px;
  padding-left: 14px;
  background-color: #323232;
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.778;
}

.product__item:hover h3 {
  background-color: #1abc9c;
  cursor: pointer;
}
.product__item:hover p {
  background-color: #7fd9c7;
  cursor: pointer;
}

/* overlay  decorate */

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  display: none;
}

.product__item:hover .overlay {
  display: block;
}

.overlay__list-item-btn {
  display: block;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.overlay__list-item-btn_heart {
  background-image: url(../img/icon/heart_.png);
}

.overlay__list-item-btn_arrows {
  background-image: url(../img/icon/arrows.png);
}

.overlay__list-item-btn_clock {
  background-image: url(../img/icon/clock.png);
}

.overlay__list-item-btn_basket {
  width: 166px;
  background-image: url(../img/icon/basket_mrg.png);
  background-color: #323232;
}

.overley__list-item {
  float: left;
}

.overley__list-item:not(:nth-child(1n + 3)) {
  margin-right: 8px;
}

.overley__list-item:not(:last-child) {
  margin-bottom: 7px;
}

.overlay__list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 166px;
}

.overley__list-item :hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.footer__box {
  width: 100%;
  margin: 0 auto;
  background-color: #323232;
  text-align: center;
  font-family: "Open Sans";
  color: #fefefe;
  font-size: 16px;
}

.footer__box p {
  padding-top: 38px;
  padding-bottom: 33px;
}

.footer__box a {
  color: #46bfa9;
  text-decoration: none;
}
